<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12 burgerHeading">
            <img src="https://cdn.pixabay.com/photo/2018/02/26/21/44/hamburger-3184108_960_720.png" class="burgerPic">
            <h1>Eat-Da-Burger!</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 burgerText">
            <textarea rows="4" cols="50"></textarea><br>
            <input type="submit" class="subButton"><br><br>
            <p>Enter a burger you want to eat. Click the "Submit" button.</p>
        </div>
    </div>
</div>